@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #776cf128;
}

main{
    background-color: white;
    max-width: 350px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    text-align: center;
}
p, span{
    color: hsl(224, 23%, 55%);
}
p{
    padding-bottom: 20px;
}

input[type="button"]{
    border-radius: 8px;
    width: 85%;
    margin-top: 30px;
    padding: 15px 0px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border: 0 none;
    outline: 0;
    font-weight: 700;
}
#cancel-order{
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
    padding: 0;
    display: inline-block;
}
main img{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
}
h2, h3{
    color: hsl(223, 47%, 23%);
}
h2{
    font-weight: 900;
    padding: 20px 0px;
}


.order{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 0px 20px;
    border-radius: 8px;
}
.order a{
    padding-left: 25%;
    color: hsl(245, 75%, 52%);
}


.order img{
    width: 35px;
}
.order-plano{
    padding-left: 10px;
}


input{
    color: white;
    background-color: hsl(245, 75%, 52%);
}

input[type="button"]:hover{
    background-color: #766cf1;
    cursor: pointer;    
}
#cancel-order:hover{
    color: black;
    cursor: pointer;
}

a:hover{
    color: #766cf1;
}